/* BG3 HUD D&D 5e Adapter Styles */

@import url("./components/portrait.css");
@import url("./components/filters.css");
@import url("./components/weapon-sets.css");
@import url("./components/advantage.css");